{% extends "counters/dashboard.html" %}
{% block data %}
{% with counters=object_list%}
<div class="row m-2 g-2">
    {% if counters %}
    <div class="col-sm-12 col-lg-6">
        <div class="card border-0 shadow rounded">
            <div class="card-body">
                <h5 class="card-title">Latest Payments</h5>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">{{ user.counters.first.readings.first.get_previous_reading.date }}</th>
                        <th scope="col">{{ user.counters.first.readings.first.date }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for counter in counters %}
                    <tr>
                        <th scope="row"><a href="{% url 'counters:counter-detail' counter.id %}">{{ counter.title }}</a>
                        </th>
                        <td>
                            {% if counter.readings.first.get_previous_reading.payment %}
                            {{ counter.readings.first.get_previous_reading.payment }} zł
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>{{ counter.readings.first.payment }} zł</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    {% include 'counters/partials/readings_add_modal.html' %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="col-sm-12 col-lg-6">
        <div class="card border-0 shadow rounded">
            <div class="card-body">
                {% include 'counters/partials/counters_table.html' %}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" onclick="location.href='{% url 'counters:counter-add' %}';" class="btn btn-primary">Add Counter</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}
