{% extends "network/layout.html" %}

{% block body %}
<h1>{{ title }} </h1>

{% if request.path == '/' %}
{% if  user.is_authenticated %}
<!-- Button trigger modal -->
<div class="d-grid col-4 mx-auto">
<button id="add_post_button" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  + New Post
</button>
</div>
{% endif %}
{% include 'network/partials/post_modal_form.html' %}
{% endif %}

{% if 'profile' in request.path %}
    {% include 'network/partials/profile.html' %}
{% endif %}

{% for post in object_list %}
    {% include 'network/partials/post.html' %}
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}