{% extends "network/layout.html" %}

{% block body %}
<h1>{{ title }} </h1>

{% if request.path == '/' %}
<!-- Button trigger modal -->
<div class="d-grid col-4 mx-auto">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  + New Post
</button>
</div>
{% include 'network/partials/post_modal_form.html' %}
{% endif %}

{% if 'profile' in request.path %}
    {% include 'network/partials/profile.html' %}
{% endif %}

{% for post in object_list %}
    {% include 'network/partials/post.html' %}
{% endfor %}

{% endblock %}